
<!--Created by GHostEater on 21-Feb-16.
-->
<div class="modal-header">
  <h3 class="modal-title">Edit Hospital</h3>
</div>
<div class="modal-body">
  <form name="model.form" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input type="text" name="name" required ng-model="model.hospital.name" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="model.ok()" class="btn btn-primary">Confirm</button>
  <button ng-click="$dismiss()" class="btn btn-default">Cancel</button>
</div>