//
   Created by GHostEater on 08-Mar-16.
.modal-header
    h3.modal-title Edit Editor
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            label.control-label.col-sm-2 Name
            .col-sm-10
                input.form-control(type="text" name="name" required ng-model="model.editor.name")
        .form-group
            label.control-label.col-sm-2 Username
            .col-sm-10
                input.form-control(type="text" name="username" required ng-model="model.editor.username")
        .form-group
            label.control-label.col-sm-2 Password
            .col-sm-10
                input.form-control(type="password" name="password" required ng-model="model.editor.password")
        .form-group
            label.control-label.col-sm-2 E-Mail
            .col-sm-10
                input.form-control(type="text" name="email" required ng-model="model.editor.email")
        .form-group
            label.control-label.col-sm-2 Sex
            .col-sm-10
                select.form-control(name="sex" required ng-model="model.editor.sex")
                    option(value="Male") Male
                    option(value="Female") Female
        .form-group
            label.control-label.col-sm-2 Date of Birth
            .col-sm-10
                input.form-control(type="date" value="{{model.editor.date_birth}}" name="date_birth" placeholder="yyyy-mm-dd" ng-model="model.editor.date_birth")
        .form-group
            label.control-label.col-sm-2 Hospital
            .col-sm-10
                select.form-control(name="hospital" required ng-model="model.editor.hospital_id")
                    option(ng-repeat="hospital in model.hospitals" value="{{hospital.id}}") {{hospital.name}}
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel
