//
   Created by GHostEater on 23-Jan-16.

nav.navbar.navbar-inverse(ng-controller = "HeaderController as model")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#/") LifeReg
        #collapse.collapse.navbar-collapse
            ul.nav.navbar-nav(ng-show="model.user.type === 1")
                li(ui-sref-active="active")
                    a(ui-sref="admin_home") Home
                li(ui-sref-active="active")
                    a(ui-sref="birthreg") BirthReg
                li(ui-sref-active="active")
                    a(ui-sref="deathreg") DeathReg
                li(ui-sref-active="active")
                    a(ui-sref="hospitals") Hospital Management
                li(ui-sref-active="active")
                    a(ui-sref="profiles") Profile Management
            ul.nav.navbar-nav(ng-show="model.user.type === 2")
                li(ui-sref-active="active")
                    a(ui-sref="editor_home") Home
                li(ui-sref-active="active")
                    a(ui-sref="birthreg") BirthReg
                li(ui-sref-active="active")
                    a(ui-sref="deathreg") DeathReg
                li(ui-sref-active="active")
                    a(ui-sref="my_profile") My Profile
            .navbar-right.navbar-form(ng-show="model.user.loggedIn")
                span.text-primary Hello {{model.user.name}}
                button.btn.btn-danger(ng-click = "model.logOut()") Logout
