
<!--
Created by GHostEater on 23-Jan-16.

-->
<nav ng-controller="HeaderController as model" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/" class="navbar-brand">LifeReg</a>
    </div>
    <div id="collapse" class="collapse navbar-collapse">
      <ul ng-show="model.user.type === 1" class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="admin_home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="birthreg">BirthReg</a></li>
        <li ui-sref-active="active"><a ui-sref="deathreg">DeathReg</a></li>
        <li ui-sref-active="active"><a ui-sref="hospitals">Hospital Management</a></li>
        <li ui-sref-active="active"><a ui-sref="profiles">Profile Management</a></li>
      </ul>
      <ul ng-show="model.user.type === 2" class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="editor_home">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="birthreg">BirthReg</a></li>
        <li ui-sref-active="active"><a ui-sref="deathreg">DeathReg</a></li>
        <li ui-sref-active="active"><a ui-sref="my_profile">My Profile</a></li>
      </ul>
      <div ng-show="model.user.loggedIn" class="navbar-right navbar-form"><span class="text-primary">Hello {{model.user.name}}</span>
        <button ng-click="model.logOut()" class="btn btn-danger">Logout</button>
      </div>
    </div>
  </div>
</nav>